@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

/* NAVBAR */

#navbar {
    font-family: Roboto, sans-serif;
    /* background-size: cover; */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    transition: all 0.5s ease;
    z-index: 100;
}

.nav-link{
    color: black !important;
}
.navbar-brand{
    color:black;
    font-weight: 600;
}
.main {
    font-family: 'Roboto Slab', serif;
    background-color: #FFFFFF;
    font-size: 16px;
}

/* SECTION 1 */

.section-1 {
    background-color: #F2F2F2;
    height: 450px;
    padding: 0px;
}

.section-1-inner-col {
    position: relative;
}

.image-frame {
    width: 25rem;
    height: 25rem;
    background-image: url(../images/pimg1.jpg);
    background-position: center;
    background-size: cover;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}



/* SECTION NO 2 */

.section-2 {
    margin: 60px 0 0 0;
    padding: 100px 0px 50px 0px;
    font-family: 'Roboto Slab', serif;
}

 .primary-heading {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.2;
}
.primary-heading-bold {
    display: block;
}

.paragraph {
    width: 60%;
    font-size: 20px;
}

/* SECTION NO 3 */

.section-3 {
    font-family: 'Roboto Slab', serif;
    padding: 50px 0px 50px 0px;
    position: relative;
}
.section-3-inner-col-left,
.section-3-inner-col-right {
    z-index: 1;
}

.section-3-heading {
    text-transform: none;
    letter-spacing: normal;
    font-size: 60px;
}

.sec3-images {
    box-shadow: 4px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.section-3-image-left {
    margin-top: 40px;
}

.sec3-img-left,
.sec3-img-right {
    width: 550px;
}

.section-3-button-right {
    margin-top: 40px;
}

.sec3-btn-right {
    font-family: Roboto, sans-serif;
    padding: 10px 30px;
    border: 1px solid #000000;
    color: #000000;
    letter-spacing: 2px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    transition: all 0.5s ease;
}

.sec3-btn-right:hover {
    color: #FFFFFF;
    background-color: #000000;
    transform: translateY(-5px);
}
/* 
.sec3-btn-right:active {
    transform: translateY(0px);
} */

.background-section-3 {
    height: 300px;
    width: 100%;
    background-color: #E5E5E5;
    position: absolute;
    left: 0;
    margin-top: -180px;
}

@media (max-width: 640px) {
    .section-3{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .background-section-3{
        margin-top: -140%;
        height: 55%;
    }

    .col{
        width: 100vw;
    }
    .sec3-img-left,
    .sec3-img-right {
        width: 90%; /* Adjust the width for smaller screens */
        margin-left: auto;
        margin-right: auto;
    }
}

/* SECTION NO 5 */

.section-5 {
    padding: 50px 0px 50px 0px;
    margin-top: 20px;
}

.section-5-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    width: 50%;
}

@keyframes changing-colors {
    0% {
        color: #FED85F;
    }

    100% {
        color: #000000;
    }
}

.section-5-icon {
    margin-top: 30px;
}

.sec5-icon {
    font-size: 100px;
    animation: changing-colors 2s infinite;
}
.sec5-portfolio-head{
    font-size: 24px;
}

/* SECTION NO 6 */

.section-6 {
    padding: 70px 0px 100px 0px;
}

.section-6-inner {
    width: 90%;
    color: #000000;
}

.section-6-heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

.section-6-para {
    font-size: 16px;
    line-height: 1.8;
    margin-top: 30px;
}

.sec6-image {
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5); 
     transition: all 0.2s ease-in-out;
}

.sec6-image:hover {
    transform: scale(1.02);
}

.section-6-button {
    margin-top: 40px;
}

.sec6-btn {
    font-family: Roboto, sans-serif;
    color: #000000;
    letter-spacing: 2px;
    cursor: pointer;
}

.sec6-btn:hover {
    color: #000000;
    text-decoration: none;
}

.sec6-btn-see-all {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    letter-spacing: 2px;
    padding: 10px 50px;
    margin-top: 40px;
    border: none;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.sec6-btn-see-all:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/* resume section */
#section-resume{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.gradient-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to right, #3498db, #2ecc71);
    transition: background 0.6s ease-in-out;
  }

  .gradient-button:hover {
    background: linear-gradient(to right, #2ecc71, #3498db);
  }

/* CONTACT */

.contact-heading {
    font-size: 62px;
    font-weight: bold;
}

.contact-para {
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 10px;
}

.card-row-1,
.card-row-2 {
    padding: 30px 50px;
}

.custom-card {
    padding: 0px 15px;
    border: none !important;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 30px 0px !important;
}

.card-circle {
    width: 100px;
    height: 100px;
    background-color: #3E64FF;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
}

.card-circle-icon {
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-heading {
    font-weight: bold;
    font-size: 20px;
}

.card-para {
    color: #666666;
    margin: 15px auto 0px auto;
}

.card-link {
    text-decoration: none;
}

.contact-image {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
        url(../images/Contact-image-1.jpg);
    background-position: center;
    background-size: cover;
}

.contact-form-div {
    background-color: #F8F9FA;
    padding: 50px !important;
    font-family: Roboto, sans-serif;
}

#custom-input1,
#custom-input2,
#custom-input3 {
    color: #666666;
    letter-spacing: 2px;
    padding: 12px 15px;
}

#custom-textarea {
    color: #666666;
    letter-spacing: 2px;
    padding: 12px 0px 0px 15px;
}

#contact-custom-button {
    background-color: #3E64FF;
    color: #FFFFFF;
    padding: 16px 60px;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .contact-heading {
        font-size: 48px;
    }

    .contact-para {
        font-size: 14px;
        margin-top: 6px;
    }

    .card-row-2 {
        padding: 20px 15px;
    }

    .contact-form-div {
        padding: 20px !important;
    }

    #contact-custom-button {
        padding: 8px 30px;
    }

    .form-button {
        text-align: center;
    }
}

/* SECTION NO 7 */

.section-7 {
    padding: 170px 0px 170px 0px;
    background-image: url(../images/footer-img.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.section-7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.section-7-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65%;
    padding-top: 100px;
}

.section-7-text {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
}

.section-7-icons {
    font-size: 42px;
    margin-top: 30px;
}

.social-icons {
    color: #FFFFFF;
}

.social-icons:hover {
    color: #C5C5C5;
}

.social-icons:not(:last-child) {
    margin-right: 15px;
}

@media (max-width: 426px) {
    .section-7 {
        padding: 140px 0px 140px 0px;
    }

    .section-7-inner {
        width: 85%;
        padding-top: 70px;
    }

    .section-7-text {
        font-size: 16px;
    }

    .section-7-icons {
        font-size: 22px;
        margin-top: 20px;
    }
}

